.password-form__output {
}

.password-form_button {
  width: 130px;
  margin-right: 10px;
}

.password-form__container {
  padding-bottom: 10px;
}

.password-form {
  border-radius: 5px;
  padding: 0 20px 0 20px;
}

.input-field > input {
  text-align: center;
}

#password_field {
  font-size: 25px;
  font-weight: 350;
}
